{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "root": true,
  "plugins": [
    "mocha"
  ],
  "rules": {
    "no-console": 2,
    "max-len": 0,
    "no-case-declarations": 0,
    "arrow-body-style": 2,
    "new-cap": 0,
    "generator-star-spacing": 0,
    "import/no-extraneous-dependencies": 0,
    "no-duplicate-imports": 0,
    "import/prefer-default-export": 0,
    "no-unused-expressions": 0,
    "no-multiple-empty-lines": [2, {"max": 1, "maxEOF": 1}],
    "no-await-in-loop": 0,
    "no-return-await": 0,
    "mocha/no-exclusive-tests": 2,
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": false
      }
    ]
  },
  "globals": {
    "describe": true,
    "it": true
  }
}
